.header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3.25rem;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 0.725rem;
    font-weight: 600;
    z-index: 10;
    background-color: white;
}
.header-icon{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.header-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.25rem;
    height: 100%;
    margin: 0;
}

.header-nav li {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
}
.header-nav li a{
    display: block;
    padding: 1rem;
    box-sizing: border-box;
    height: 3.25rem;
}
.header-nav li span{
    color: blue;
    opacity: 0.8;
    font-weight: 300;
    font-size: 0.5rem;
    top: 0.2rem;
    right: 0.3rem;
    position: absolute;
    
    
}

.header-nav li:hover{
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.header-user{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    gap: 1rem;
}

.header-user li:last-child::before{
    content: "|";
    color: rgba(0, 0, 0, 0.4);
}

.header-user li>button{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0.25rem 0.5rem;
}

/* 메인부분 */
.home-main{
    margin: 0 4rem;
    margin-top: 3.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-slide{
    width: 80rem;
}

.home-main-carrier{
    margin: 0 4rem;
}
.home-main-carrier-insight{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.title{
    font-size: 1.5rem;
    font-weight: 700;
}

/* 인강 주제 목록 */
.home-main-carrier-btns{
    display: flex;
    gap: 5px;
    margin: 1.5rem 0;
    justify-content: center;
}
.carrier-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    font-weight: 600;
    box-shadow: 0 4px 4px rgba(0,0,0,.05);
}
.carrier-btn:first-child{
    border: 1px solid blue;
    color: blue;
}
 /* 인강 목록 */
.home-main-course-list{
    display: flex;
    justify-content: center;
    gap: 1rem 1rem;
    flex-wrap: wrap;
}

.home-main-course{
    width: 250px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
    top: 0;
    transition: all 0.2s ease-in-out;
}

.home-main-course:hover{
    transform: translateY(-10px);
}

.home-main-course-img{
    width: 100%;
    height: 175px;
}

.home-main-course-title{
    font-size: 1rem;
    font-weight: 700;
}

.home-main-course-describe{
    font-size: 0.9rem;
    text-overflow:ellipsis;
    -webkit-line-clamp: 2;
}

.home-main-course-author img{
    width: 30px;

}
.home-main-course-author span{
    font-size: x-small;
}

